<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="css/about.css">
</head>
<body>

    <section>

        <header>
            <nav>
                <div class="logo">
                    <img src="images/logo.png">
                </div>

                <div class="nav-links">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                 </div>
                    

            </nav>
        </header>
    </section>

    <section>

        
        <div>
            <div class="main__container">
                       <img src="/images/arrow.png">
               
               <div class="main__content">
                   
               <h1>ABOUT STONY PHONES</h1>
        
            
            <p>
                HappyDave Supports is an initiative that is dedicated to improving the lives of orphans and underprivileged children in Africa.
                Our mission is to provide them with proper care, education, and opportunities for a brighter future.
                With the support of compassionate individuals like you, we can make a lasting impact and create a positive change in their lives.
            </p>
                
            </div>
        </div>
    </div>
    
    
    
    
    <div>
        <div class="main__container">
            <img src="/images/arrow.png">
            
            <div class="main__work">
                <p>
                    Together, we can build a better world for these children and help them break the cycle of poverty and vulnerability.
                    Join us on this incredible journey to make a difference and spread happiness in the lives of those who need it the most.
                </p>
                
            </div>
        
        </div>
    </div>
    
    
        <div class="btn__container">
            <h3>To know more about us, you can simply contact us<br> click the button below</h3>
            <button class="main__btn"><a href="/contact">Contact Us</a></button>
        </div>
    
    
    
    
                     
        </div>
        
    </section>






    
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Terms of Service</a> 
                </div>
    
                <div class="footer__link--items">
                    <h2>Contact</h2>
                    <a href="/">Contacts</a>
                    <a href="/">Support</a>
                    <a href="/">Ambassadors</a>
                </div>
          </div>
    
          <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Products</h2>
                    <a href="/">Mobile Phones</a>
                    <a href="/">Laptops</a>
                    <a href="/">Cameras</a>
                    <a href="/">Storage Devices</a>
    
                </div>
    
                <div class="footer__link--items">
                    <h2>Social Media</h2>
                    <a href="/">Instagram</a> <a href="/">Facebok</a>
                    <a href="/">Youtube</a>  <a href="/">Twitter</a> 
                </div>
            </div>
    
    
            
        </div>
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">STONY PHONES</a>
                </div>
                <p class="website__rights">© STONY TECHNOLOGIES 2023. All rights reserved</p>
                <div class="social__icons">
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
    

</body>
</html>
