<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="css/contact.css">
</head>
<body>

    <section>

        <header>
            <nav>
                <div class="logo">
                    <img src="images/logo.png">
                </div>

                <div class="nav-links">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                 </div>
                    

            </nav>
        </header>
    </section>



    <div>
        <div class="main__container">
                   <img src="/images/arrow.png">
           
           <div class="main__content">
   
               <h2>YOU CAN ALWAYS REACH OUT TO US.</h2>
               <p>
                   At Phone Order App, your satisfaction is our top priority, and we're committed to providing you with an outstanding experience. 
                    Reach out to us anytime, and we'll be more than happy to assist you. 
                    Thank you for choosing Phone Order App!
               </p>
               
           </div>
       </div>
   </div>
   
   
   
   
   <div>
       <div class="main__container">
           <img src="/images/arrow.png">
           
          
       <section class="contact-section">
           <h1>CONTACT US</h1>
           <p>
              We're thrilled to hear from you! Whether you have questions, feedback, or need assistance, our dedicated team is here to help. Feel free to reach out using any of the methods below:

    Customer Support:

    Our support team is available to assist you with any inquiries or concerns you may have.
    We take pride in providing top-notch customer service and ensuring your experience with our app is nothing short of exceptional.
    Reach us via email at <a href="mailto:contact@stonyphones2023.org">contact@stonyphones2023.org</a>.
           </p>
           <form id="contact-form">
               <label for="name">Name:</label>
               <input type="text" id="name" name="name" required>
               
               <label for="email">Email:</label>
               <input type="email" id="email" name="email" required>
               
               <label for="message">Message:</label>
               <textarea id="message" name="message" rows="4" required></textarea>
               
               <button type="submit">Send Message</button>
           </form>
       </section>
               
       
       </div>
   </div>
   
   
     
   



<div class="footer__container">
    <div class="footer__links">
        <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>About</h2>
                <a href="/">How it works</a>
                <a href="/">Testimonials</a>
                <a href="/">Careers</a>
                <a href="/">Terms of Service</a> 
            </div>

            <div class="footer__link--items">
                <h2>Contact</h2>
                <a href="/">Contacts</a>
                <a href="/">Support</a>
                <a href="/">Ambassadors</a>
            </div>
      </div>

      <div class="footer__link--wrapper">
            <div class="footer__link--items">
                <h2>Products</h2>
                <a href="/">Mobile Phones</a>
                <a href="/">Laptops</a>
                <a href="/">Cameras</a>
                <a href="/">Storage Devices</a>

            </div>

            <div class="footer__link--items">
                <h2>Social Media</h2>
                <a href="/">Instagram</a> <a href="/">Facebok</a>
                <a href="/">Youtube</a>  <a href="/">Twitter</a> 
            </div>
        </div>


        
    </div>
    <section class="social__media">
        <div class="social__media--wrap">
            <div class="footer__logo">
                <a href="/" id="footer__logo">STONY PHONES</a>
            </div>
            <p class="website__rights">© STONY TECHNOLOGIES 2023. All rights reserved</p>
            <div class="social__icons">
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-facebook"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>

                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="/" class="social__icon--link" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
        </div>
    </section>
</div>


</body>
</html>
