<!DOCTYPE html>
<html>
    <head>
        <title>STONY PHONES</title>
        <link type="text/css" rel="stylesheet" href="css/home.css">
    </head>

    <body>
        <div class="main">
            <nav>
                <div class="logo">
                    <img src="images/logo.png">
                </div>

                <div class="nav-links">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                 </div>
                    

            </nav>

            <div class="information">
                <div class="overlay"></div>
                <img src="images/phone.png" class="mobile">
                <div id="circle">
                    <div class="feature one">
                        <img src="images/camera.png">
                        <div>
                            <h1>Camera</h1>
                            <p>12MP, Wide Angle Lens</p>
                        </div>
                    </div>


                    <div class="feature two">
                        <img src="images/processor.png">
                        <div>
                            <h1>Processor</h1>
                            <p>Snapdragon Octa-core 11nm</p>
                        </div>
                    </div>


                    <div class="feature three">
                        <img src="images/display.png">
                        <div>
                            <h1>Display</h1>
                            <p>6.5" Mini-Drop Fullscreen</p>
                        </div>
                    </div>


                    <div class="feature four">
                        <img src="images/battery.png">
                        <div>
                            <h1>Battery Life</h1>
                            <p>5000mAh, 720Hrs Standby</p>
                        </div>
                    </div>


                </div>
            </div>
               <div class="controls">
                   <img src="images/arrow.png" id="upBtn">
                   <h3>Features</h3>
                   <img src="images/arrow.png" id="downBtn">
               </div>
        </div>

       <script>
           var circle = document.getElementById("circle");
           var upBtn = document.getElementById("upBtn");
           var downBtn = document.getElementById("downBtn");

           var rotateValue = circle.style.transform;
           var rotateSum;

           upBtn.onclick = function()
            
            {
                 rotateSum = rotateValue + "rotate(-90deg)";
                 circle.style.transform = rotateSum;
                 rotateValue = rotateSum;
            }

        downBtn.onclick = function()
            {
             rotateSum = rotateValue + "rotate(90deg)";
            circle.style.transform = rotateSum;
            rotateValue = rotateSum;
            }
       </script>
        

        <div class="footer__container">
            <div class="footer__links">
                <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>About</h2>
                        <a href="/">How it works</a>
                        <a href="/">Testimonials</a>
                        <a href="/">Careers</a>
                        <a href="/">Terms of Service</a> 
                    </div>
        
                    <div class="footer__link--items">
                        <h2>Contact</h2>
                        <a href="/">Contacts</a>
                        <a href="/">Support</a>
                        <a href="/">Ambassadors</a>
                    </div>
              </div>
        
              <div class="footer__link--wrapper">
                    <div class="footer__link--items">
                        <h2>Products</h2>
                        <a href="/">Mobile Phones</a>
                        <a href="/">Laptops</a>
                        <a href="/">Cameras</a>
                        <a href="/">Storage Devices</a>
        
                    </div>
        
                    <div class="footer__link--items">
                        <h2>Social Media</h2>
                        <a href="/">Instagram</a> <a href="/">Facebok</a>
                        <a href="/">Youtube</a>  <a href="/">Twitter</a> 
                    </div>
                </div>
        
        
                
            </div>
            <section class="social__media">
                <div class="social__media--wrap">
                    <div class="footer__logo">
                        <a href="/" id="footer__logo">STONY PHONES</a>
                    </div>
                    <p class="website__rights">© STONY TECHNOLOGIES 2023. All rights reserved</p>
                    <div class="social__icons">
                        <a href="/" class="social__icon--link" target="_blank">
                            <i class="fab fa-facebook"></i>
                        </a>
        
                        <a href="/" class="social__icon--link" target="_blank">
                            <i class="fab fa-youtube"></i>
                        </a>
        
                        <a href="/" class="social__icon--link" target="_blank">
                            <i class="fab fa-instagram"></i>
                        </a>
        
                        <a href="/" class="social__icon--link" target="_blank">
                            <i class="fab fa-linkedin"></i>
                        </a>
                        <a href="/" class="social__icon--link" target="_blank">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </div>
                </div>
            </section>
        </div>
        

    </body>
</html>
