<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=, initial-scale=1.0">
    <title>Order</title>
    <link rel="stylesheet" href="css/order.css">
</head>
<body>

    <section>

        <header>
            <nav>
                <div class="logo">
                    <img src="images/logo.png">
                </div>

                <div class="nav-links">
                    <ul>
                        <li><a href="/">HOME</a></li>
                        <li><a href="/order">ORDER</a></li>
                        <li><a href="/about">ABOUT US</a></li>
                        <li><a href="/contact">CONTACT US</a></li>
                    </ul>
                 </div>
                    

            </nav>
        </header>
    </section>

    <section>

        
        <div>
            <h1>Order your Mobile Device</h1>
            
            <section>
        
                <form action="/thank" id="form">
                    <input type="text" name="Fullname" placeholder="Fullame" required />
                    <input type="email" name="email" placeholder="email" required />        
                    <input type="Phone" name="Phone Number" placeholder="Phone Number" required />
                    <input type="number" name="value" placeholder="Amount" required />

                    <input type="textarea" name="Address" placeholder="Enter your address" required />        


                    <input type="submit" value="Place your Order">
                    
        </div>

    </section>
    
    
    <section>

        
        <div class="list">

            <ul>
                <li>Please note that the address inputed on the form is where the delivery will be made to.</li>
                <li>Please add a functional phone number as you would be contacted through it</li>
                <li>Payment would be made on delivery, so please make it available</li>
                
            </ul>

        </div>
        
    </section>




    
    <div class="footer__container">
        <div class="footer__links">
            <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>About</h2>
                    <a href="/">How it works</a>
                    <a href="/">Testimonials</a>
                    <a href="/">Careers</a>
                    <a href="/">Terms of Service</a> 
                </div>
    
                <div class="footer__link--items">
                    <h2>Contact</h2>
                    <a href="/">Contacts</a>
                    <a href="/">Support</a>
                    <a href="/">Ambassadors</a>
                </div>
          </div>
    
          <div class="footer__link--wrapper">
                <div class="footer__link--items">
                    <h2>Products</h2>
                    <a href="/">Mobile Phones</a>
                    <a href="/">Laptops</a>
                    <a href="/">Cameras</a>
                    <a href="/">Storage Devices</a>
    
                </div>
    
                <div class="footer__link--items">
                    <h2>Social Media</h2>
                    <a href="/">Instagram</a> <a href="/">Facebok</a>
                    <a href="/">Youtube</a>  <a href="/">Twitter</a> 
                </div>
            </div>
    
    
            
        </div>
        <section class="social__media">
            <div class="social__media--wrap">
                <div class="footer__logo">
                    <a href="/" id="footer__logo">STONY PHONES</a>
                </div>
                <p class="website__rights">© STONY TECHNOLOGIES 2023. All rights reserved</p>
                <div class="social__icons">
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-facebook"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-youtube"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
    
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-linkedin"></i>
                    </a>
                    <a href="/" class="social__icon--link" target="_blank">
                        <i class="fab fa-twitter"></i>
                    </a>
                </div>
            </div>
        </section>
    </div>
    

</body>
</html>
